<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <form class="navbar-form navbar-left" role="search" action="/" method="post">
      <div class="form-group">
        <input type="text" name="term" class="form-control" placeholder="Keyword">
        <input type="text" name="location" class="form-control" placeholder="Zip Code">
      </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>
  </div>
</nav>

<div class="container">
  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Job Title</th>
        <th>Description</th>
        <th>Company Name</th>
        <th>Location</th>
        <th>Post Date</th>
      </tr>
      </thead>
      <tbody>
      <% jobs.each do |job| %>
      <tr>
        <td><a href="<%= job.link %>"><%= job.title %></td>
        <td><%= job.desc %></td>
        <td><a href="<%= job.company_url %>"><%= job.company %></td>
        <td><%= job.location %></td>
        <td><%= job.date %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
